[Unit]
Description=Servicio que detecta ataques de fuerza bruta y los bloquea mediante iptables.
After=network.target
After=syslog.target

[Service]
Type=forking
#User=www-data
#Group=www-data
#Ruta al programa...
ExecStart=/home/rag/Desktop/apache_eq2.pl

[Install]
WantedBy=multi-user.target

#systemctl --system daemon-reload
#/etc/systemd/system/