[Unit]
Description=Servicio que detecta ataques de fuerza bruta y los bloquea mediante iptables.
After=network.target
After=syslog.target

[Service]
Type=forking
User=root
#Ruta al programa...
ExecStart=/opt/apache_eq2/apache_eq2.pl

[Install]
WantedBy=multi-user.target